.menu-item{
    margin: 0 1%;
    font-size: .5em;
    margin-top: 2%;
    -webkit-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
}
