.slide {
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px transparent none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 15px;
  height: 15px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 40px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 40px;
  transform: translateY(-60%);
}