body {
  background-color: white;
  margin: 0;
  font-family: "Helvetica", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.on{
  opacity: 1;
  transition: opacity .3s ease-in;
}

.off{
  transition: opacity .3s ease-in;
  opacity: 0;
}

.on-text{
  opacity: 1;
  transition: opacity .15s ease-in;
}

.off-text{
  transition: opacity .15s ease-in;
  opacity: 0;
}

.ventures{
  font-weight: 100;
  font-style: italic;
}
